In [1]:
pwd

'/Users/mac'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/mac/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding="latin-1")

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [6]:
df.groupby('Area')['Y2017'].count().sort_values()

Area
Ethiopia PDR                     39
Comoros                          45
Sudan (former)                   53
Seychelles                       68
Djibouti                       1061
Guinea-Bissau                  1076
Mauritania                     1108
Lesotho                        1110
Gambia                         1116
Sao Tome and Principe          1122
Liberia                        1135
Sierra Leone                   1191
Cabo Verde                     1193
Gabon                          1206
Togo                           1234
Mali                           1243
Eswatini                       1251
Benin                          1253
Central African Republic       1262
Namibia                        1269
Sudan                          1279
Algeria                        1279
Chad                           1281
Tunisia                        1314
Ghana                          1333
Mauritius                      1340
Zimbabwe                       1365
Niger                          1365
Botswana                       1368
Morocco                        1369
Burkina Faso                   1383
Guinea                         1383
South Africa                   1395
Congo                          1395
Rwanda                         1397
Mozambique                     1406
Angola                         1407
United Republic of Tanzania    1409
Malawi                         1411
Madagascar                     1425
Zambia                         1425
Ethiopia                       1428
Uganda                         1435
Cameroon                       1441
Senegal                        1452
CÃ´te d'Ivoire                  1454
Nigeria                        1457
Egypt                          1458
Kenya                          1548
Name: Y2017, dtype: int64

In [7]:
df.groupby('Item')

In [12]:
df['Item'].unique()

array(['Population', 'Grand Total', 'Vegetal Products', 'Animal Products',
       'Cereals - Excluding Beer', 'Wheat and products',
       'Rice and products', 'Barley and products', 'Maize and products',
       'Rye and products', 'Oats', 'Millet and products',
       'Sorghum and products', 'Cereals, Other', 'Starchy Roots',
       'Cassava and products', 'Potatoes and products', 'Sweet potatoes',
       'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet',
       'Sugar & Sweeteners', 'Sugar (Raw Equivalent)',
       'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas',
       'Pulses, Other and products', 'Treenuts', 'Nuts and products',
       'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)',
       'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Oilcrops, Other',
       'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil',
       'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables',
       'Tomatoes and products', 'Onions', 'Vegetables, Other',
       'Fruits - Excluding Wine', 'Oranges, Mandarines',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products',
       'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves',
       'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer',
       'Beverages, Fermented', 'Beverages, Alcoholic',
       'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat',
       'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals',
       'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream',
       'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs',
       'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish',
       'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other',
       'Crustaceans', 'Cephalopods', 'Molluscs, Other',
       'Aquatic Products, Other', 'Aquatic Animals, Others',
       'Aquatic Plants', 'Miscellaneous', 'Infant food',
       'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil'],
      dtype=object)

In [14]:
df.groupby('Item')['Y2015','Y2018'].sum()

/var/folders/4c/y8mf6l556c988n46dnt19ybh0000gn/T/ipykernel_88317/3578700421.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Item')['Y2015','Y2018'].sum()=='Wine'

                     Y2015  Y2018
Item
Alcohol, Non-Food    False  False
Alcoholic Beverages  False  False
Animal Products      False  False
Animal fats          False  False
Apples and products  False  False
...                    ...    ...
Vegetables, Other    False  False
Vegetal Products     False  False
Wheat and products   False  False
Wine                 False  False
Yams                 False  False

[119 rows x 2 columns]

In [15]:
df.shape

(60943, 12)

In [20]:
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [26]:
df['Y2017'].mean()

140.917764860268

In [27]:
df['Y2017'].std()

1671.8623590572788

KeyError: 'element'

In [30]:
df['Y2014'].isnull().sum()*100/len(df['Y2014'])

2.6073544131401474

8

In [37]:
df['Area'].nunique()

49

In [51]:
df.groupby(['Element','Area'])['Y2015'].sum()

Element                   Area
Domestic supply quantity  Algeria                  85972.86
                          Angola                   55482.91
                          Benin                    27661.67
                          Botswana                  2916.14
                          Burkina Faso             23658.17
                                                     ...
Tourist consumption       Cabo Verde                   5.00
                          Egypt                      286.00
                          Kenya                       17.00
                          Mauritius                   29.00
                          Sao Tome and Principe       12.00
Name: Y2015, Length: 803, dtype: float64

In [49]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000